In [1]:
import pandas as pd
import datetime as dt

### Review of Python's datetime Module

In [2]:
dt.date(2016, 4, 12)

datetime.date(2016, 4, 12)

In [3]:
dt.date(2018, 12, 12)

datetime.date(2018, 12, 12)

In [4]:
someday = dt.date(2010, 1, 20)

In [5]:
someday.day

20

In [6]:
someday.month

1

In [7]:
someday.year

2010

In [8]:
print(someday.year)
print(someday.month)
print(someday.day)

2010
1
20

In [9]:
dt.datetime(2010, 1, 10) #A timestamp

datetime.datetime(2010, 1, 10, 0, 0)

In [10]:
dt.datetime(2010, 1, 10, 8, 13)

datetime.datetime(2010, 1, 10, 8, 13)

In [11]:
dt.datetime(2010, 1, 10, 8, 13, 57)

datetime.datetime(2010, 1, 10, 8, 13, 57)

In [12]:
str(dt.datetime(2010, 1, 10, 8, 13, 57))

'2010-01-10 08:13:57'

In [13]:
str(someday)

'2010-01-20'

In [14]:
sometime = dt.datetime(2010, 1, 10, 8, 13, 57)

In [16]:
print(sometime.year)
print(sometime.month)
print(sometime.day)
print(sometime.hour)
print(sometime.minute)
print(sometime.second)

2010
1
10
8
13
57

### The Pandas Timestamp Object

In [17]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [18]:
pd.Timestamp("2016/03/31")

Timestamp('2016-03-31 00:00:00')

In [19]:
pd.Timestamp("2017, 11, 04")

Timestamp('2017-11-04 00:00:00')

In [20]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [21]:
pd.Timestamp("19/12/1993")

Timestamp('1993-12-19 00:00:00')

In [22]:
pd.Timestamp("12/19/2005")

Timestamp('2005-12-19 00:00:00')

In [23]:
pd.Timestamp("4/3/2001")

Timestamp('2001-04-03 00:00:00')

In [24]:
pd.Timestamp("2012-03-08 08:35:15")

Timestamp('2012-03-08 08:35:15')

In [25]:
pd.Timestamp("2012-03-12 6:13:39 PM")

Timestamp('2012-03-12 18:13:39')

In [28]:
pd.Timestamp(dt.datetime(2016, 4, 12))

Timestamp('2016-04-12 00:00:00')

In [29]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

### The pandas DateTimeIndex Object

In [31]:
dates = ["2016-01-02","2016-04-12","2009-09-07"]
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
dates = ["2016/01/02","2016/04/12","2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [36]:
dates = [dt.date(2016,1,10), dt.date(1995, 2, 13),dt.date(2018,12,29 )]

In [37]:
dates

[datetime.date(2016, 1, 10),
 datetime.date(1995, 2, 13),
 datetime.date(2018, 12, 29)]

In [40]:
dtIndex = pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['2016-01-10', '1995-02-13', '2018-12-29'], dtype='datetime64[ns]', freq=None)

In [41]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-10    100
1995-02-13    200
2018-12-29    300
dtype: int64

### The pd.to_datetime() Method

In [42]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [43]:
pd.to_datetime(dt.datetime(2001, 10, 10))

Timestamp('2001-10-10 00:00:00')

In [45]:
pd.to_datetime(dt.date(1994, 12,7))

Timestamp('1994-12-07 00:00:00')

In [46]:
pd.to_datetime(["2001-10-12","2018-12-22"])

DatetimeIndex(['2001-10-12', '2018-12-22'], dtype='datetime64[ns]', freq=None)

In [47]:
pd.to_datetime("July 4th , 1994")

Timestamp('1994-07-04 00:00:00')

In [48]:
pd.to_datetime("2001")

Timestamp('2001-01-01 00:00:00')

In [50]:
times = pd.Series(["2015-10-03","2014/02/08","2016","July 4th , 1996"])
times

0         2015-10-03
1         2014/02/08
2               2016
3    July 4th , 1996
dtype: object

In [51]:
pd.to_datetime(times)

0   2015-10-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [53]:
dates =  pd.Series(["July 4th , 1996","10/04/1991", "hello","2015-02-31"])
dates

0    July 4th , 1996
1         10/04/1991
2              hello
3         2015-02-31
dtype: object

In [55]:
pd.to_datetime(dates, errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [58]:
pd.to_datetime([1349720105,134970105,144972105,134472105,134975105],unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '1974-04-12 03:41:45',
               '1974-08-05 22:01:45', '1974-04-06 09:21:45',
               '1974-04-12 05:05:05'],
              dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the pd.date_range method, Part 1

In [59]:
pd.date_range(start= "2018-01-01",end="2018-01-10")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(start= "2018-01-01",end="2018-01-10", freq="D")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range(start= "2000-01-01",end="2018-01-10", freq='M')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31',
               ...
               '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', length=216, freq='M')

In [64]:
times = pd.date_range(start= "2018-01-01",end="2018-01-10", freq="D")

In [66]:
type(times[0])

pandas._libs.tslib.Timestamp

In [68]:
pd.date_range(start= "2018-01-01",end="2018-01-10", freq="2D")

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05', '2018-01-07',
               '2018-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [69]:
pd.date_range(start="2018-01-01", end="2018-12-31",freq='W')

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [70]:
pd.date_range(start= "2018-01-01",end="2050-01-01", freq="A")

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31', '2037-12-31',
               '2038-12-31', '2039-12-31', '2040-12-31', '2041-12-31',
               '2042-12-31', '2043-12-31', '2044-12-31', '2045-12-31',
               '2046-12-31', '2047-12-31', '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with  the pd.date_range() Method ,Part2

In [72]:
pd.date_range(start="2012-09-09", periods=25, freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range(start="2012-09-09", periods=25, freq="B") #Bussiness Days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [74]:
pd.date_range(start="2012-09-09", periods=25, freq="W") #weeks

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [76]:
pd.date_range(start="2012-09-09", periods=25, freq="W-SUN") #weeks start from sunday

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [77]:
pd.date_range(start="2012-09-09", periods=50, freq="H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [78]:
pd.date_range(start="2012-09-09", periods=50, freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with pd.date_range() Method, Part 3

In [80]:
pd.date_range(end="1999-12-31", periods=40, freq="D")

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

### The .dt Accessor

In [82]:
bunch_of_dates = pd.date_range(start="2000-01-01", end="2010-12-31", freq="24D")

In [83]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [84]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [85]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [86]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [89]:
s[s.dt.is_quarter_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [91]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

### Import Finanmcial Data Set with pandas_datareader Library

In [92]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [97]:
company = "MSFT"
start = "2016-01-01"
end = "2018-01-01"
stocks =data.DataReader(name=company, data_source="yahoo", start= start, end= end)

In [98]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-12-31  56.189999  55.419998  56.040001  55.480000  27334100.0  51.920101
2016-01-04  54.799999  53.389999  54.320000  54.799999  53778000.0  51.283730
2016-01-05  55.389999  54.540001  54.930000  55.049999  34079700.0  51.517689

In [99]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [100]:
stocks.index

DatetimeIndex(['2015-12-31', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=504, freq=None)

In [101]:
stocks.index[0]

Timestamp('2015-12-31 00:00:00')

In [102]:
stocks.axes

[DatetimeIndex(['2015-12-31', '2016-01-04', '2016-01-05', '2016-01-06',
                '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
                '2016-01-13', '2016-01-14',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=504, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

### Selecting from a DataFrame with DateTimeIndex

In [103]:
company = "MSFT"
start = "2010-01-01"
end = "2018-01-01"
stocks =data.DataReader(name=company, data_source="yahoo", start= start, end= end)

In [104]:
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  24.345514
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.728914

In [105]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.431552e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [107]:
stocks.iloc[300]

High         2.585000e+01
Low          2.536000e+01
Open         2.541000e+01
Close        2.568000e+01
Volume       4.990580e+07
Adj Close    2.106254e+01
Name: 2011-03-11 00:00:00, dtype: float64

In [108]:
stocks.ix[300]

High         2.585000e+01
Low          2.536000e+01
Open         2.541000e+01
Close        2.568000e+01
Volume       4.990580e+07
Adj Close    2.106254e+01
Name: 2011-03-11 00:00:00, dtype: float64

In [112]:
stocks.ix["2016-01-01"]

KeyError: '2016-01-01'

In [114]:
stocks.loc["2013-10-01" :"2013-10-07"]
stocks.ix["2013-10-01" :"2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.552982
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.852201
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.799406
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.816998
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  29.306562

In [116]:
pd.date_range(start="1993-02-28", end="2018-02-28", freq=pd.DateOffset(years=1))

DatetimeIndex(['1993-02-28', '1994-02-28', '1995-02-28', '1996-02-28',
               '1997-02-28', '1998-02-28', '1999-02-28', '2000-02-28',
               '2001-02-28', '2002-02-28', '2003-02-28', '2004-02-28',
               '2005-02-28', '2006-02-28', '2007-02-28', '2008-02-28',
               '2009-02-28', '2010-02-28', '2011-02-28', '2012-02-28',
               '2013-02-28', '2014-02-28', '2015-02-28', '2016-02-28',
               '2017-02-28', '2018-02-28'],
              dtype='datetime64[ns]', freq='<DateOffset: kwds={'years': 1}>')

In [117]:
birthdays = pd.date_range(start="1993-02-28", end="2018-02-28", freq=pd.DateOffset(years=1))

In [119]:
mask = stocks.index.isin(birthdays)

In [120]:
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.800714
2012-02-28  31.930000  31.379999  31.410000  31.870001  45230600.0  26.851923
2013-02-28  27.969999  27.740000  27.879999  27.799999  35840200.0  24.125763
2014-02-28  38.459999  37.820000  37.980000  38.310001  41215000.0  34.226189
2017-02-28  64.199997  63.759998  64.080002  63.980000  23239800.0  61.890614

### Timestamp Object Attributes

In [121]:
stocks =data.DataReader(name=company, data_source="yahoo", start= start, end= end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  24.345514
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.728914

In [123]:
somedays = stocks.index[500]

In [125]:
somedays.day
somedays.month
somedays.year
somedays.weekday_name
somedays.is_month_end
somedays.is_month_end

False

In [126]:
somedays

Timestamp('2011-12-23 00:00:00')

In [127]:
stocks.insert(0, 'Day of Week', stocks.index.weekday_name)

In [128]:
stocks.head()

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552

In [129]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [130]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,24.489288
2010-01-11,Monday,False,30.760000,30.120001,30.709999,30.270000,68754700.0,24.177786
2010-01-12,Tuesday,False,30.400000,29.910000,30.150000,30.070000,65912100.0,24.018032
2010-01-13,Wednesday,False,30.520000,30.010000,30.260000,30.350000,51863500.0,24.241684
2010-01-14,Thursday,False,31.100000,30.260000,30.309999,30.959999,63228100.0,24.728914
2010-01-15,Friday,False,31.240000,30.709999,31.080000,30.860001,79913200.0,24.649038
2010-01-19,Tuesday,False,31.240000,30.680000,30.750000,31.100000,46575700.0,24.840738
2010-01-20,Wednesday,False,30.940001,30.309999,30.809999,30.590000,54849500.0,24.433378
2010-01-21,Thursday,False,30.719999,30.000000,30.610001,30.010000,73086700.0,23.970112
2010-01-22,Friday,False,30.200001,28.840000,30.000000,28.959999,102004600.0,23.131437
2010-01-25,Monday,False,29.660000,29.100000,29.240000,29.320000,63373000.0,23.418983
2010-01-26,Tuesday,False,29.850000,29.090000,29.200001,29.500000,66639900.0,23.562756
2010-01-27,Wednesday,False,29.820000,29.020000,29.350000,29.670000,63949500.0,23.698549
2010-01-28,Thursday,False,29.870001,28.889999,29.840000,29.160000,117513700.0,23.291180
2010-01-29,Friday,False,29.920000,27.660000,29.900000,28.180000,193888500.0,22.508421
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.692129
2010-02-02,Tuesday,False,28.500000,28.139999,28.370001,28.459999,54413700.0,22.732069
2010-02-03,Wednesday,False,28.790001,28.120001,28.260000,28.629999,61397900.0,22.867855
2010-02-04,Thursday,False,28.500000,27.809999,28.379999,27.840000,77850000.0,22.236853
2010-02-05,Friday,False,28.280001,27.570000,28.000000,28.020000,80960100.0,22.380629
2010-02-08,Monday,False,28.080000,27.570000,28.010000,27.719999,52820600.0,22.141001
2010-02-09,Tuesday,False,28.340000,27.750000,27.969999,28.010000,59195800.0,22.372641
2010-02-10,Wednesday,False,28.240000,27.840000,28.030001,27.990000,48591300.0,22.356657
2010-02-11,Thursday,False,28.400000,27.700001,27.930000,28.120001,65993700.0,22.460506
2010-02-12,Friday,False,28.059999,27.580000,27.809999,27.930000,81117200.0,22.308741
...,...,...,...,...,...,...,...,...
2017-11-16,Thursday,False,83.419998,82.940002,83.099998,83.199997,20962800.0,81.784210
2017-11-17,Friday,False,83.120003,82.239998,83.120003,82.400002,22079000.0,80.997826
2017-11-20,Monday,False,82.589996,82.250000,82.400002,82.529999,16315000.0,81.125610
2017-11-21,Tuesday,False,83.839996,82.739998,82.739998,83.720001,21237500.0,82.295364
2017-11-22,Wednesday,False,83.900002,83.040001,83.830002,83.110001,20553100.0,81.695747
2017-11-24,Friday,False,83.430000,82.779999,83.010002,83.260002,7425600.0,81.843193
2017-11-27,Monday,False,83.980003,83.300003,83.309998,83.870003,18265200.0,82.442818
2017-11-28,Tuesday,False,85.059998,84.019997,84.070000,84.879997,21926000.0,83.435616
2017-11-29,Wednesday,False,84.919998,83.180000,84.709999,83.339996,27381100.0,81.921829
2017-11-30,Thursday,False,84.519997,83.339996,83.510002,84.169998,33054600.0,82.737709
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,82.826172
2017-12-04,Monday,False,84.430000,80.699997,84.419998,81.080002,39094900.0,79.700279
2017-12-05,Tuesday,False,82.680000,80.980003,81.339996,81.589996,26152300.0,80.201599
2017-12-06,Wednesday,False,83.139999,81.430000,81.550003,82.779999,26162100.0,81.371353
2017-12-07,Thursday,False,82.800003,82.000000,82.540001,82.489998,23184500.0,81.086288
2017-12-08,Friday,False,84.580002,83.330002,83.629997,84.160004,24489100.0,82.727882
2017-12-11,Monday,False,85.370003,84.120003,84.290001,85.230003,22857900.0,83.779671
2017-12-12,Tuesday,False,86.050003,85.080002,85.309998,85.580002,23924100.0,84.123711
2017-12-13,Wednesday,False,86.000000,85.169998,85.739998,85.349998,22062700.0,83.897629
2017-12-14,Thursday,False,85.870003,84.529999,85.430000,84.690002,19306000.0,83.248863
2017-12-15,Friday,False,87.089996,84.879997,85.260002,86.849998,53936700.0,85.372101
2017-12-18,Monday,False,87.500000,86.230003,87.120003,86.379997,22283800.0,84.910088
2017-12-19,Tuesday,False,86.349998,85.269997,86.349998,85.830002,23524800.0,84.369461
2017-12-20,Wednesday,False,86.300003,84.709999,86.199997,85.519997,23674900.0,84.064720
2017-12-21,Thursday,False,86.099998,85.400002,86.050003,85.500000,17990700.0,84.045067
2017-12-22,Friday,False,85.629997,84.919998,85.400002,85.510002,14145800.0,84.054901
2017-12-26,Tuesday,False,85.529999,85.029999,85.309998,85.400002,9891200.0,83.946770
2017-12-27,Wednesday,False,85.980003,85.220001,85.650002,85.709999,14678000.0,84.251495
2017-12-28,Thursday,False,85.930000,85.550003,85.900002,85.720001,10594300.0,84.261330
2017-12-29,Friday,False,86.050003,85.500000,85.629997,85.540001,18717400.0,84.084389

In [131]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.692129
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.287754
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.400095
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.869761
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.669130
2010-09-01,Wednesday,True,23.950001,23.540001,23.670000,23.900000,65235900.0,19.368408
2010-10-01,Friday,True,24.820000,24.299999,24.770000,24.379999,62672300.0,19.757391
2010-11-01,Monday,True,27.219999,26.700001,26.879999,26.950001,61912100.0,21.840105
2010-12-01,Wednesday,True,26.250000,25.559999,25.570000,26.040001,74123500.0,21.232306
2011-02-01,Tuesday,True,28.059999,27.610001,27.799999,27.990000,62810700.0,22.822296
2011-03-01,Tuesday,True,26.780001,26.150000,26.600000,26.160000,60055000.0,21.456236
2011-04-01,Friday,True,25.530001,25.309999,25.530001,25.480000,63114200.0,20.898499
2011-06-01,Wednesday,True,25.100000,24.370001,24.990000,24.430000,74033500.0,20.168638
2011-07-01,Friday,True,26.170000,25.840000,25.930000,26.020000,52906200.0,21.481289
2011-08-01,Monday,True,27.690001,26.750000,27.510000,27.270000,61838400.0,22.513250
2011-09-01,Thursday,True,26.860001,26.209999,26.459999,26.209999,60510800.0,21.774723
2011-11-01,Tuesday,True,26.320000,25.860001,26.190001,25.990000,61182600.0,21.591948
2011-12-01,Thursday,True,25.629999,25.200001,25.559999,25.280001,48545400.0,21.160242
2012-02-01,Wednesday,True,30.049999,29.760000,29.790001,29.889999,67409900.0,25.018976
2012-03-01,Thursday,True,32.389999,31.850000,31.930000,32.290001,77344100.0,27.205793
2012-05-01,Tuesday,True,32.340000,31.950001,32.049999,32.009998,43832300.0,26.969879
2012-06-01,Friday,True,28.959999,28.440001,28.760000,28.450001,56634300.0,24.127708
2012-08-01,Wednesday,True,29.650000,29.209999,29.590000,29.410000,31721800.0,24.941854
2012-10-01,Monday,True,29.980000,29.420000,29.809999,29.490000,54042700.0,25.175381
2012-11-01,Thursday,True,29.559999,28.820000,28.840000,29.520000,72047900.0,25.200994
2013-02-01,Friday,True,28.049999,27.549999,27.670000,27.930000,55565900.0,24.039555
2013-03-01,Friday,True,27.980000,27.520000,27.719999,27.950001,34849700.0,24.255941
2013-04-01,Monday,True,28.660000,28.360001,28.639999,28.610001,29201100.0,24.828709
2013-05-01,Wednesday,True,33.080002,32.599998,32.930000,32.720001,54330900.0,28.395504
2013-07-01,Monday,True,34.990002,34.330002,34.750000,34.360001,31055400.0,30.027849
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.590000,41.070000,41.150002,41.419998,32605000.0,37.004662
2014-05-01,Thursday,True,40.360001,39.950001,40.240002,40.000000,28787400.0,35.736023
2014-07-01,Tuesday,True,42.150002,41.689999,41.860001,41.869999,26917000.0,37.670586
2014-08-01,Friday,True,43.250000,42.599998,43.209999,42.860001,31170300.0,38.561287
2014-10-01,Wednesday,True,46.529999,45.849998,46.270000,45.900002,38088400.0,41.554317
2014-12-01,Monday,True,48.779999,47.709999,47.880001,48.619999,31191600.0,44.294411
2015-04-01,Wednesday,True,40.759998,40.310001,40.599998,40.720001,36752000.0,37.361267
2015-05-01,Friday,True,48.880001,48.400002,48.580002,48.660000,38937300.0,44.646336
2015-06-01,Monday,True,47.770000,46.619999,47.060001,47.230000,28837300.0,43.615913
2015-07-01,Wednesday,True,45.230000,44.099998,44.459999,44.450001,28343900.0,41.048645
2015-09-01,Tuesday,True,42.590000,41.660000,42.169998,41.820000,49688900.0,38.874573
2015-10-01,Thursday,True,44.750000,43.750000,44.750000,44.610001,28657900.0,41.468067
2015-12-01,Tuesday,True,55.230000,54.299999,54.410000,55.220001,39952800.0,51.676788
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,51.199497
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.559475
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,52.377712
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,50.162380
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.558327
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.702694
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,55.002018
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,57.112709
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.921623
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,61.133057
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.819267
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,67.143295
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,68.199440
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,70.612221
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,72.318604
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,81.355980
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,82.826172

### The truncate()

In [132]:
stocks =data.DataReader(name=company, data_source="yahoo", start= start, end= end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  24.345514
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.728914

In [133]:
stocks.truncate(before="2011-02-05", after="2011-02-28")

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.993515
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  23.058744
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.805983
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.422758
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  22.218910
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  22.202610
2011-02-15  27.330000  26.950001  27.040001  26.959999  44116500.0  22.112381
2011-02-16  27.070000  26.600000  27.049999  27.020000  70817900.0  22.161594
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  22.317432
2011-02-18  27.209999  26.990000  27.129999  27.059999  68667800.0  22.194401
2011-02-22  27.100000  26.520000  26.780001  26.590000  60889000.0  21.808912
2011-02-23  26.860001  26.430000  26.530001  26.590000  60234100.0  21.808912
2011-02-24  27.059999  26.500000  26.639999  26.770000  64494200.0  21.956551
2011-02-25  26.950001  26.500000  26.910000  26.549999  53006300.0  21.776106
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.800714

#### pd.DateOffset Object

In [135]:
data.DataReader(name="GOOG", data_source="yahoo", 
               start = dt.date(2000, 1, 1), end=dt.datetime.now())

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2004-08-19,51.693783,47.669952,49.676899,49.845802,44994500.0,49.845802
2004-08-20,54.187561,49.925285,50.178635,53.805050,23005800.0,53.805050
2004-08-23,56.373344,54.172661,55.017166,54.346527,18393200.0,54.346527
2004-08-24,55.439419,51.450363,55.260582,52.096165,15361800.0,52.096165
2004-08-25,53.651051,51.604362,52.140873,52.657513,9257400.0,52.657513
2004-08-26,53.626213,51.991844,52.135906,53.606342,7148200.0,53.606342
2004-08-27,53.959049,52.503513,53.700729,52.732029,6258300.0,52.732029
2004-08-30,52.404160,50.675404,52.299839,50.675404,5235700.0,50.675404
2004-08-31,51.519913,50.749920,50.819469,50.854240,4954800.0,50.854240
2004-09-01,51.152302,49.512966,51.018177,49.801090,9206800.0,49.801090
2004-09-02,50.854240,49.150326,49.274517,50.427021,15232100.0,50.427021
2004-09-03,50.541279,49.339096,50.148830,49.681866,5191000.0,49.681866
2004-09-07,50.670437,49.483158,50.178635,50.461796,5891300.0,50.461796
2004-09-08,51.182110,49.925285,50.044510,50.819469,5023000.0,50.819469
2004-09-09,51.023144,50.173668,50.933723,50.824436,4092100.0,50.824436
2004-09-10,52.935703,50.322701,50.471729,52.324677,8764200.0,52.324677
2004-09-13,53.854729,52.886028,52.970478,53.402668,7902900.0,53.402668
2004-09-14,55.638126,53.049961,53.377831,55.384777,10910200.0,55.384777
2004-09-15,56.745922,54.743942,54.922779,55.638126,10793500.0,55.638126
2004-09-16,57.525848,55.464260,55.807030,56.616764,9335800.0,56.616764
2004-09-17,58.365391,56.408119,56.840309,58.365391,9543500.0,58.365391
2004-09-20,60.407108,58.007717,58.097134,59.294346,10708500.0,59.294346
2004-09-21,59.820923,58.375324,59.517895,58.539257,7282900.0,58.539257
2004-09-22,59.448345,58.027588,58.320679,58.807514,7638000.0,58.807514
2004-09-23,60.918781,58.131908,59.036026,60.019630,8599600.0,60.019630
2004-09-24,61.649033,59.493053,60.079243,59.527828,9191900.0,59.527828
2004-09-27,60.049435,58.519386,59.393700,58.747902,7119100.0,58.747902
2004-09-28,63.288372,59.716602,60.258080,63.020115,17056100.0,63.020115
2004-09-29,67.073753,62.707150,62.940632,65.116478,30745600.0,65.116478
2004-09-30,65.722542,64.083199,64.530296,64.381264,13861300.0,64.381264
...,...,...,...,...,...,...
2018-11-08,1093.270020,1072.204956,1091.380005,1082.400024,1488200.0,1082.400024
2018-11-09,1075.560059,1053.109985,1073.989990,1066.150024,1343200.0,1066.150024
2018-11-12,1062.119995,1031.000000,1061.390015,1038.630005,1471800.0,1038.630005
2018-11-13,1056.604980,1031.150024,1043.290039,1036.050049,1513700.0,1036.050049
2018-11-14,1054.563965,1031.000000,1050.000000,1043.660034,1565900.0,1043.660034
2018-11-15,1071.849976,1031.780029,1044.709961,1064.709961,1836100.0,1064.709961
2018-11-16,1067.000000,1048.979980,1059.410034,1061.489990,1658100.0,1061.489990
2018-11-19,1060.790039,1016.260010,1057.199951,1020.000000,1858600.0,1020.000000
2018-11-20,1031.739990,996.020020,1000.000000,1025.760010,2449100.0,1025.760010
2018-11-21,1048.560059,1033.469971,1036.760010,1037.609985,1534300.0,1037.609985
2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500.0,1023.880005
2018-11-26,1049.310059,1033.910034,1038.349976,1048.619995,1942800.0,1048.619995
2018-11-27,1057.579956,1038.489990,1041.000000,1044.410034,1803200.0,1044.410034
2018-11-28,1086.839966,1035.760010,1048.760010,1086.229980,2475400.0,1086.229980
2018-11-29,1094.244995,1076.000000,1076.079956,1088.300049,1468900.0,1088.300049
2018-11-30,1095.569946,1077.880005,1089.069946,1094.430054,2580200.0,1094.430054
2018-12-03,1124.650024,1103.665039,1123.140015,1106.430054,1991200.0,1106.430054
2018-12-04,1104.420044,1049.979980,1103.119995,1050.819946,2345200.0,1050.819946
2018-12-06,1071.199951,1030.770020,1034.260010,1068.729980,2769200.0,1068.729980
2018-12-07,1075.260010,1028.500000,1060.010010,1036.579956,2101200.0,1036.579956
2018-12-10,1048.449951,1023.289978,1035.050049,1039.550049,1807700.0,1039.550049
2018-12-11,1060.599976,1039.839966,1056.489990,1051.750000,1394700.0,1051.750000
2018-12-12,1081.650024,1062.790039,1068.000000,1063.680054,1523800.0,1063.680054
2018-12-13,1079.760010,1053.930054,1068.069946,1061.900024,1329800.0,1061.900024
2018-12-14,1062.599976,1040.790039,1049.979980,1042.099976,1686600.0,1042.099976
2018-12-17,1053.150024,1007.900024,1037.510010,1016.530029,2385400.0,1016.530029
2018-12-18,1049.479980,1021.440002,1026.089966,1028.709961,2192500.0,1028.709961
2018-12-19,1062.000000,1008.049988,1033.989990,1023.010010,2479300.0,1023.010010
2018-12-20,1034.219971,996.359985,1018.130005,1009.409973,2673500.0,1009.409973
2018-12-21,1024.020020,973.690002,1015.299988,979.539978,4562700.0,979.539978

In [136]:
stocks =data.DataReader(name="GOOG", data_source="yahoo", 
               start = dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [138]:
stocks.index + 5

ValueError: Cannot shift with no freq

In [140]:
stocks.index + pd.DateOffset(days= 5)
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2004-09-02', '2004-09-03', '2004-09-06', '2004-09-07',
               '2004-09-08', '2004-09-09', '2004-09-10', '2004-09-13',
               '2004-09-14', '2004-09-15',
               ...
               '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-27',
               '2018-12-28', '2018-12-31', '2019-01-01', '2019-01-02',
               '2019-01-03', '2019-01-04'],
              dtype='datetime64[ns]', name='Date', length=3612, freq=None)

In [141]:
stocks.index - pd.DateOffset(years = 1, months = 2, days = 5)

DatetimeIndex(['2003-06-14', '2003-06-15', '2003-06-18', '2003-06-19',
               '2003-06-20', '2003-06-21', '2003-06-22', '2003-06-25',
               '2003-06-25', '2003-06-26',
               ...
               '2017-10-05', '2017-10-06', '2017-10-07', '2017-10-08',
               '2017-10-09', '2017-10-12', '2017-10-13', '2017-10-14',
               '2017-10-15', '2017-10-16'],
              dtype='datetime64[ns]', name='Date', length=3612, freq=None)

### More fun with pd.DateOffset Objects

In [146]:
import pandas  as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [142]:
data.DataReader(name="GOOG", data_source="yahoo", 
               start = dt.date(2000, 1, 1), end=dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527

In [143]:
pd.tseries.offsets.MonthEnd()

In [144]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3612, freq=None)

In [147]:
stocks.index + MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='Date', length=3612, freq=None)

In [148]:
stocks.index + BMonthEnd()

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexes\datetimes.py:831: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=3612, freq=None)

#### The Timedelta Object

In [149]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [150]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [151]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [152]:
timeA - timeB

Timedelta('11 days 14:18:27')

In [153]:
type(timeA - timeB)

pandas._libs.tslib.Timedelta

In [154]:
type(timeA)

pandas._libs.tslib.Timestamp

In [155]:
pd.Timedelta(days=45)

Timedelta('45 days 00:00:00')

In [156]:
pd.Timedelta(weeks = 8, hours = 6, minutes= 18, seconds = 30)

Timedelta('56 days 06:18:30')

In [157]:
pd.Timedelta("14 days")

Timedelta('14 days 00:00:00')

In [160]:
pd.Timedelta("14 days 6 hours 25 minutes 30 seconds")

Timedelta('14 days 06:25:30')

### Timedeltas in Dataset

In [162]:
pd.read_csv('data/ecommerce.csv').head(3)

   ID order_date delivery_date
0   1    5/24/98        2/5/99
1   2    4/22/92        3/6/98
2   4    2/10/91       8/26/92

In [164]:
pd.read_csv("data/ecommerce.csv", index_col="ID").head(3)

   order_date delivery_date
ID
1     5/24/98        2/5/99
2     4/22/92        3/6/98
4     2/10/91       8/26/92

In [166]:
shipping = pd.read_csv("data/ecommerce.csv", index_col="ID", parse_dates=["order_date","delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [168]:
shipping["Delivery Time"]=shipping["delivery_date"] - shipping["order_date"]

In [169]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [172]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [173]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [174]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [175]:
mask = shipping["Delivery Time"] > "2000 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
50  1991-05-03    1999-07-17     2997 days    2007-09-30
64  1990-11-25    1998-05-14     2727 days    2005-10-31
66  1992-09-08    1998-12-29     2303 days    2005-04-19
70  1994-02-16    1999-11-06     2089 days    2005-07-26
71  1990-11-25    1998-04-06     2689 days    2005-08-16
75  1990-06-25    1996-12-18     2368 days    2003-06-13
78  1992-02-25    1999-02-17     2549 days    2006-02-09
84  1990-01-24    1996-06-06     2325 days    2002-10-18
91  1993-01-17    1999-09-27     2444 days    2006-06-06
93  1991-12-24    1999-06-15     2730 days    2006-12-05
98  1991-08-23    1997-08-30     2199 days    2003-09-07
130 1990-04-02    1999-08-16     3423 days    2008-12-29
132 1992-09-27    1999-10-18     2577 days    2006-11-07
136 1992-01-28    1998-07-23     2368 days    2005-01-15
141 1991-09-03    1999-03-08     2743 days    2006-09-10
151 1991-01-29    1999-08-05     3110 days    2008-02-09
152 1990-12-09    1998-09-02     2824 days    2006-05-27
160 1991-07-06    1997-01-10     2015 days    2002-07-18
165 1990-03-23    1998-06-07     2998 days    2006-08-22
166 1990-07-12    1998-05-01     2850 days    2006-02-18
196 1991-12-09    1998-08-10     2436 days    2005-04-11
215 1991-05-24    1997-04-09     2147 days    2003-02-24
216 1990-03-09    1997-12-01     2824 days    2005-08-25
222 1993-01-21    1999-04-20     2280 days    2005-07-17
229 1990-04-13    1998-11-17     3140 days    2007-06-23
..         ...           ...           ...           ...
748 1991-06-06    1999-02-19     2815 days    2006-11-04
756 1992-10-11    1999-05-07     2399 days    2005-11-30
760 1990-09-16    1998-12-06     3003 days    2007-02-25
762 1992-01-11    1998-04-20     2291 days    2004-07-28
764 1990-09-19    1999-09-16     3284 days    2008-09-12
775 1992-12-03    1999-06-14     2384 days    2005-12-23
786 1990-10-26    1999-05-10     3118 days    2007-11-22
787 1990-02-27    1996-02-06     2170 days    2002-01-15
799 1993-02-11    1999-02-01     2181 days    2005-01-21
822 1991-11-10    1998-08-20     2475 days    2005-05-30
825 1991-12-12    1999-09-15     2834 days    2007-06-19
826 1990-04-16    1998-05-18     2954 days    2006-06-19
832 1991-08-23    1998-12-13     2669 days    2006-04-04
876 1991-11-21    1997-10-20     2160 days    2003-09-19
881 1990-02-21    1997-09-11     2759 days    2005-04-01
884 1990-01-20    1999-11-12     3583 days    2009-09-03
892 1991-02-21    1998-04-16     2611 days    2005-06-09
894 1990-05-24    1997-08-12     2637 days    2004-10-31
900 1992-01-26    1999-11-23     2858 days    2007-09-20
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
909 1991-01-19    1998-08-22     2772 days    2006-03-25
935 1990-09-26    1998-03-07     2719 days    2005-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03
947 1991-06-18    1999-06-11     2915 days    2007-06-04
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[113 rows x 4 columns]

In [176]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')